{% extends 'base.html.twig' %}

{% block title %}Création
{% endblock %}

{% block body %}
	<h1>Ajout d'un évènement</h1>

	<div class="container">

		{{ include('evenements/_form.html.twig') }}

		

	</div>
{% endblock %}
