{% extends "base.html.twig" %}

{% block body %}

	<article class="row">
		<section class="col-12 mb-5">
			<article class="row">
				<section class="col-2"></section>
				<section class="col-6">
					<h1 class="text-secondary">
						La mairie de Frizon
					</h1>
				</section>
			</article>
		</section>

	</article>


	<article class="row">


		<section class="col-6">
			<article class="row">
				<section class="col-12">
					<article class="row mb-5">
						<section class="col-2"></section>
						<section class="col-10">
							<h3 class="text-info">
								Informations
							</h3>
						</section>
					</article>
				</section>

				<section class="col-10 ml-5 border">
					<article class="row border">
						<section class="col-12 border">
							<article class="row border">
								<section class="col-6 border">
									<p>
										<strong>Adresse</strong>
									</p>
								</section>
								<section class="col-6">
									<a href="https://www.google.com/maps/place/75+Place+de+la+Mairie,+88440+Frizon/@48.2854807,6.3611397,17z/data=!3m1!4b1!4m5!3m4!1s0x479373f4586c663b:0xb2397b4d062cf3a2!8m2!3d48.2854772!4d6.3633284" target="_blank" class="text-dark">
										75 place de la Mairie 88440 FRIZON
									</a>
								</section>
							</article>
						</section>

						<section class="col-12 border">
							<article class="row border">
								<section class="col-6 border">
									<p>
										<strong>Téléphone</strong>
									</p>
								</section>
								<section class="col-6 border">
									<a href="callto:0608537546" target="_blank" class="text-dark">
										06.08.53.75.46</a>
								</section>
							</article>
						</section>

						<section class="col-12 border">
							<article class="row border">
								<section class="col-6 border">
									<p>
										<strong>Fax</strong>
									</p>
								</section>
								<section class="col-6 border">
									<a href="callto:0608537546" target="_blank" class="text-dark">
										06.08.53.75.46</a>
								</section>
							</article>
						</section>


						<section class="col-12 border">
							<article class="row border">
								<section class="col-6 border">
									<p>
										<strong>Mail</strong>
									</p>
								</section>
								<section class="col-6 border">
									<a href="mailto:flavien.htz@gmail.com" target="_blank" class="text-dark">
										Envoyer un mail</a>
								</section>
							</article>
						</section>
					</article>
				</section>
			</article>
		</section>


		<section class="col-6">
			<article class="row">
				<section class="col-12">
					<article class="row mb-5">
						<section class="col-2"></section>
						<section class="col-10">
							<h3 class="text-info">
								Horaires
							</h3>
						</section>
					</article>
				</section>

				<section class="col-10 ml-5 mt-5 border">
					<article class="row border">
						<section class="col-12 border">
							<article class="row border">
								<section class="col-6 border">
									<p>
										<strong>Lundi et vendredi</strong>
									</p>
								</section>
								<section class="col-6">
									<p>
										13H30 à 15H30
									</p>
								</section>
							</article>
						</section>

						<section class="col-12 border">
							<article class="row border">
								<section class="col-6 border">
									<p>
										<strong>Mercredi</strong>
									</p>
								</section>
								<section class="col-6 border">
									<p>
										10H30 à 11H30 et 13H30 à 15H
									</p>
								</section>
							</article>
						</section>
					</article>
				</section>
			</article>
		</section>


	</article>
{% endblock %}
